<template>
  <div>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section-shaped my-0">
        <div class="shape shape-style-1 shape-default shape-skew">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container shape-container d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="display-3 text-white">
                  Another way to validate candidates skills
                  <span>Click on any candidate</span>
                </h1>
                <p class="lead text-white">based on github Weighted Average repos</p>
                <!-- <div class="btn-wrapper">
                                    <base-button tag="a"
                                                 href="https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html"
                                                 class="mb-3 mb-sm-0"
                                                 type="info"
                                                 icon="fa fa-code">
                                        Log in
                                    </base-button>
                                    <base-button tag="a"
                                                 href="https://www.creative-tim.com/product/argon-design-system"
                                                 class="mb-3 mb-sm-0"
                                                 type="white"
                                                 icon="ni ni-cloud-download-95">
                                        Sign up
                                    </base-button>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>

    <section class="section section-lg">
      <div class="container">
        <div class="row justify-content-center text-center mb-lg-5">
          <div class="col-lg-8">
            <h2 class="display-3">The amazing People</h2>
          </div>
        </div>

        <!-- reusable propose needs to be a global component -->
        <div class="row justify-content-center text-center mb-lg-5" v-if="errored">
          <div class="col-lg-8">
            <h4 class="display-3">
              Ups!
              <br />
              <small>We are getting troubles right now!</small>
            </h4>
          </div>
        </div>

        <!-- reusable propose needs to be global -->
        <div class="vld-parent">
          <loading
            :active.sync="isLoading"
            :can-cancel="false"
            :is-full-page="fullPage"
            :color="color"
            :height="height"
            :width="width"
          ></loading>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0" v-for="user in users" :key="user.key">
            <div class="px-4">
              <router-link :to="{ name: 'profile', params: {user: user}}">
                <img
                  v-lazy="user.picture"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                  style="width: 200px;"
                />
              </router-link> 

              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">{{ user.name}}</span>
                  <small class="h6 text-muted">{{ user.professionalHeadline}}</small>
                </h5>
                <div class="mt-3">
                  <base-button
                    v-for="link in user.links"
                    :key="link.key"
                    tag="a"
                    v-bind:href="link.address"
                    type="info"
                    target="_blank"
                    v-bind:icon="'fa '+ 'fa-'+link.name"
                    rounded
                    icon-only
                  ></base-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  data() {
    return {
      users: [],
      isLoading: true,
      errored: false,
      fullPage: false,
      color: "#23BBBD",
      height: 35,
      width: 35
    };
  },
  created: function() {
    this.fetchUsers();
    // console.log("isLoading: ", this.isLoading);
  },
  methods: {
    userDetail(user) {
      //   console.log("user: ", user);
      //   this.$router.push(`/profile/${user.user.publicId}`);
      this.$router.push({ name: "profile", params: { user: user } });
    },
    fetchUsers() {
      let uri =   "https://us-central1-torre-1df46.cloudfunctions.net/api/v1/pub/users";
      // let uri = "http://localhost:5001/torre-1df46/us-central1/api/v1/pub/users";
      this.$http
        .get(uri)
        .then(response => {
          this.users = response.data.users;
          this.isLoading = false;
          //   console.log("isLoading: ", this.isLoading);
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
          this.isLoading = false;
        })
        .finally(() => {
          //   console.log("isLoading: ", this.isLoading);
          this.isLoading = false;
        });
    },
    // doAjax() {
    //   this.isLoading = true;
    //   // simulate AJAX
    //   setTimeout(() => {
    //     // this.isLoading = false;
    //   }, 5000);
    // },
    onCancel() {
      console.log("User cancelled the loader.");
    }
  },
  name: "home",
  components: { Loading }
};
</script>
<style> 
</style>
