<template>
  <div class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <div class="shape shape-style-1 shape-primary shape-skew alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </section>
    <section class="section section-skew">
      <div class="container">
        <card shadow class="card-profile mt--300" no-body v-if="user">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <!-- <a href="#"> -->
                  <img v-lazy="user.picture" class="rounded-circle" />
                  <!-- </a> -->
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <div class="card-profile-actions py-4 mt-lg-0">
                  <!-- <base-button type="info" size="sm" class="mr-4">Connect</base-button>
                  <base-button type="default" size="sm" class="float-right">Message</base-button>-->
                </div>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="heading">{{repos ? repos.length : 0}}</span>
                    <span class="description">Repos</span>
                  </div>
                  <div>
                    <!-- <span class="heading">10</span>
                    <span class="description">Photos</span>-->
                  </div>
                  <div>
                    <!-- <span class="heading">89</span> -->
                    <!-- <span class="description"></span> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center mt-5">
              <h3>
                {{user.name}}
                <!-- <span class="font-weight-light">, 27</span> -->
              </h3>
              <!-- <div class="h6 font-weight-300">
                <i class="ni location_pin mr-2"></i>Bucharest, Romania
              </div>-->
              <div class="h6 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>
                {{ user.professionalHeadline}}
              </div>
              <!-- <div>
                <i class="ni education_hat mr-2"></i>University of Computer Science
              </div>-->
            </div>

            <div class="mt-5 py-5 border-top text-center" v-if="errored">
              <div class="row justify-content-center">
                <h6 class="display-3">
                  Ups!
                  <br />
                  <small>There is not github user!</small>
                </h6>
              </div>
            </div>

            <div class="mt-5 py-5 border-top text-center" v-if="noRepos">
              <div class="row justify-content-center">
                <h6 class="display-3">
                  Ups!
                  <br />
                  <small>No repos found!</small>
                </h6>
              </div>
            </div>

            <div class="mt-5 py-5 border-top" v-if="repos">
              <div class="row justify-content-center" v-for="repo in repos" :key="repo.url">
                <div class="col-lg-9">
                  <!-- <h5>{{repo.description}}</h5> -->
                  <!-- <card class="border-0" hover shadow body-classes="py-5"> -->
                  <h3>
                    <icon name="ni ni-check-bold" type="success" rounded class="mb-4"></icon>
                    {{ repo.forks*0.3 + repo.open_issues*0.35 + repo.watchers*0.2 + repo.size*0.05 + (repo.haswiki ? 1*0.05: 0) + (repo.has_pages ? 1*0.05:0) | roundTo2}}
                  </h3>

                  <h5 class="text-Secondary text-uppercase">{{repo.name}}</h5>
                  <h6 class="text-Secondary text-uppercase">{{repo.description}}</h6>

                  <div>
                    <badge type="primary" rounded>{{ repo.forks }}  Forks</badge>
                    
                    <badge type="danger" rounded>{{repo.open_issues}} Open Issues </badge>
                     
                    <badge type="success" rounded>{{repo.watchers}} Watchers </badge>
                     
                    <badge type="warning" rounded>{{repo.size}} Size</badge>
                    
                  </div>
                  <!-- <base-button tag="a" href="#" type="primary" class="mt-4">Learn more</base-button> -->
                  <!-- </card> -->
                  <hr />
                  <br />
                </div>
              </div>
            </div>
          </div>
        </card>
      </div>
      <!-- <div>User {{ $route.params.id }}</div> -->
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      user: null,
      repos: null,
      noRepos: false,
      githutUser: null,
      isLoading: true,
      errored: false,
      fullPage: false,
      color: "#23BBBD",
      height: 35,
      width: 35
    };
  },
  created: function() {
    this.fetchUser();
    this.user = this.$route.params.user;
  },

  filters: {
    roundTo2: function (number){
      return number.toFixed(2)
    }
  },
  methods: {
    fetchUser() {
      /**
       * This need to be refactor
       * Searching for github user
       */
      this.$route.params.user ? this.errored = false : this.errored = true;
      var links = this.$route.params.user ? this.$route.params.user.links: {};
      var linksKeys = Object.keys(this.$route.params.user ? this.$route.params.user.links: {});
      for (let i = 0; i < linksKeys.length; i++) {
        if (links[i] && links[i].name === "github") {
          var str = links[i].address;
          var githutUser = str.substring(
            str.lastIndexOf("/") + 1,
            str.lastIndexOf("")
          );
        }
        // console.log("githutUser: ", githutUser);
      }

      if (githutUser) {
        let uri = `https://api.github.com/users/${githutUser}/repos`;
        this.$http
          .get(uri)
          .then(response => {
            this.repos = response.data;
            if (this.repos.length == 0) {
              this.noRepos = true;
            }
            
          })
          .catch(error => {
            console.log(error);
            this.errored = true;
            this.isLoading = false;
          })
          .finally(() => {
            //   console.log("isLoading: ", this.isLoading);
            this.isLoading = false;
          });
      } else {
        this.isLoading = false;
        this.errored = true;
      }
    }
  }
};
</script>
<style>
</style>